---
- name: Playbook para instalar la pila LAMP en el Backend
  hosts: backend
  become: yes

  vars_files:
    - ../vars/variables.yml

  tasks:
    - name: Actualizar los repositorios
      apt:
        update_cache: yes

    - name: Instalar el sistema gestor de bases de datos MySQL
      apt:
        name: mysql-server
        state: present

    - name: Instalamos el m칩dulo de pymysql
      apt:
        name: python3-pymysql
        state: present

    - name: Crear una base de datos
      mysql_db:
        name: "{{ db.name }}"
        state: present
        login_unix_socket: /var/run/mysqld/mysqld.sock 

    - name: Crear el usuario de la base de datos
      mysql_user:         
        name: "{{ db.user }}"
        password: "{{ db.password }}"
        priv: "{{ db.name }}.*:ALL"
        host: "{{ frontend_private_ip }}"
        state: present
        login_unix_socket: /var/run/mysqld/mysqld.sock 

    - name: Configuramos MySQL para permitir conexiones desde cualquier interfaz
      replace:
        path: /etc/mysql/mysql.conf.d/mysqld.cnf
        regexp: '127.0.0.1'
        replace: '0.0.0.0'

    - name: Configurar el formato de archivo de MySQL a Barracuda
      lineinfile:
        path: /etc/mysql/mysql.conf.d/mysqld.cnf
        regexp: '^innodb_file_format'
        line: 'innodb_file_format=Barracuda'
      notify:
        - Reiniciar servicio mysql

    - name: Activar la opci칩n innodb_large_prefix en MySQL
      lineinfile:
        path: /etc/mysql/mysql.conf.d/mysqld.cnf
        regexp: '^innodb_large_prefix'
        line: 'innodb_large_prefix=ON'
      notify:
        - Reiniciar servicio mysql

    - name: Verificar si el servicio de MySQL est치 en ejecuci칩n antes de reiniciar
      systemd:
        name: mysql
        state: started
        enabled: yes

  handlers:
    - name: Reiniciar servicio mysql
      service:
        name: mysql
        state: restarted
        enabled: yes
